# Folder
Lua/
Scenarios/
Sounds/
Tiers/Streamed/
Speech/
LeaderAmbience/
Interface/
UI/
UI_Tablet/
Expansion/

#Files
*.lua
*.modinfo
*.Civ5Map
*.sql
*.Civ5Pkg
*.tga
*.dll

#multimedia
*.wav
*.ogg
*.mp3
*.wmv
*.wma

